<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	default-autowire="no"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
	
	<context:component-scan base-package="com.acme" />	
	
	<bean id="bean_id_tigris" class="com.acme.own.exercises.aop.domain.Tiger" c:name="Tigris" />
	<bean id="bean_id_harcsa" class="com.acme.own.exercises.aop.domain.Harcsa" c:name="Harcsa" />
	
	<aop:aspectj-autoproxy />

</beans>
